body{
    font-family: Roboto;
}

.alert{
    margin: 0 15px 10px 15px;
}
.require{
    color: red;
}
.user-menu .dropdown-toggle{
    height: 50px;
}

.sidebar-logout{
    padding: 15px !important;
}
/*.table-right*/
/*{*/
/*    text-align: right;*/
/*}*/
